$bg-color: yellow;
$border-color: red;

.body {
  margin: 0px;
}

.holygrail-body {
  // flex: 1 0 auto;
  display: flex;

  .content {
    flex-grow: 2;
    font-family: helvetica, arial, sans-serif;
    border: 5px solid $border-color;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 700px;

    button {
      width: 100px;
      height: 50px;
    }
  }

  .sidebar {
    flex-grow: 1;
    min-width: 150px;
    list-style: none;
    text-align: left;
    order: -1;
    margin: 0;
  }

  .aside {
    flex-grow: 1;
    min-width: 150px;
    padding: 5px;
    background: #81c3f8;
    margin: 5px 5px;
    border-radius: 3px;

    .suggestion-row {
      display: flex;
      justify-content: space-between;
      border: 1px solid gray;
      border-radius: 3px;
      padding: 3px;
      margin-bottom: 3px;
      background: #fcfbfb;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    form input {
      width: calc(100% - 38px);
      padding: 5px;
      border-radius: 3px;
      border: 1px solid gray;
    }
  }
}

.header {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  .header-title {
    background: black;
    color: white;
    width: 100%;
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    background: #d1c6c0;
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
    }
    p {
      margin: 15px;
    }
  }
}
